.header-list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-list-item-active a{
    background-color: #222f3a;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.header-list-item a:hover {
    cursor: pointer;
}