.header-list {
    color: #16a085;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}

ul li {
    display: inline;
    margin: 20px;
}