.footer {
    font-size: 1.75em;
    background-color: #b4b7ba;
    margin-top: 30px;
    height: 60px;
    display: grid;
    grid-template-columns: auto auto;
}

.footer-list {
    list-style-type: none;
    margin: auto 10px;
    padding: 0;
    overflow: hidden;
}

.copyright {
    text-align: right;
    margin: auto;
    font-size: 1.5rem;
}