.main-image{
    background-image: url('./content-img.png');
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #35444f;
    padding: 30px;
}