.main-content-container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: 'leftMenu pageContent pageContent';
    margin-top: 30px;
    column-gap: 30px;
}

.left-menu {
    grid-area: leftMenu;
}

.content {
    grid-area: pageContent;
}

