.header {
    font-size: 1.5em;
    background-color: #35444f;
    display: flex;
    justify-content: center;
}

.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #35444f;
}

.header-list-item {
    float: left;
    margin-left: 30px;
}
