.footer-list-item {
    float: left;
    margin-left: 20px;
}

.footer-list-item a   {
    display: block;
    color: #0c1927;
    text-align: center;
    text-decoration: none;
}


.footer-active-item a {
    color: #3181a6;
    text-decoration: underline;
}

.footer-list-item a:hover{
    cursor: pointer;
}