body{
    font-family: 'Roboto', sans-serif;
}
.main {
    display: grid;
    margin: 5%;
    grid-template-columns: 10% 80% 10%;
}
#image {
    height: 700px;
}

#containerForImg {
    text-align: center;
}

input {
    background-color: transparent;
    border: none;
}
