 table {
     border-collapse: collapse;
     border: 3px solid #b3e5fc;
 }
 
 th,
 td {
     text-align: left;
     border-bottom: 3px solid #b3e5fc;
     padding: 6px;
 }
 
 th {
     background-color: #b3e5fc;
     color: white;
 }
 
 tr:hover {
     background-color: #b3e5fc;
 }