.grid-container {
    display: grid;
}

body {
    text-align: center;
    color: #373737;
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 768px) {
    .grid-container {
        margin: 0 50px;
    }
}

@media (min-width: 1100px) {
    .grid-container {
        margin: 0 300px;
    }
}