.left-menu-list-item{
    color: #485863;
    font-size: 1.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
  
}

.left-memu-item-activ{
    background-color: #dbdbdb;
    padding-left: 55px;
}