input {
    background-color: #16A085;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 60px;
}