.mine-counter {
    text-align: center;
    margin: 10px;
}

.cell {
    background-color: #bbdefb;
    border: 2px solid #8aacc8;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
}

.shown {
    color: rgba(0, 0, 0, 1);
}

.start-new-game {
    background-color: #ab47bc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.flag{
    background-image: url(./flag.svg);
}

#gameArea {
    text-align: center;
}

#startNewGame {
    text-align: center;
}